*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.delete {
  display: none;
  background-color: red;
}


.head {

  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .searchbar {
    position: relative;

    input[type=search] {
      width: 100%;
      background-color: $grey;
      border: none;
      border-radius: 5px;
      padding: 2.4rem;
      font-size: 1.8rem;
      outline: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 2.4rem;
      transform: translateY(-50%);
      width: 5rem;
      aspect-ratio: 1 / 1;
      background-image: url("../assets/svg/search-24px 1.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}

main {
  .tags {
    padding-left: 0;
    display: flex;
    gap: 1rem;

    .tag {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      list-style: none;
      background-color: $blue;
      padding: 1rem;
      border-radius: 5px;
      width: fit-content;
      height: fit-content;

      &__name {
        margin: 0;
        color: #FFF;
        font-size: 1.5rem;
      }

      &__close-icon {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        border: solid 1px #FFF;
        border-radius: 50%;

        &::after, &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: .7rem;
          height: 1px;
          background-color: #fff;
        }

        &::after {
          transform: translate(-50%, -50%) rotate(50deg);
          transform-origin: center;
        }

        &::before {
          transform: translate(-50%, -50%) rotate(-50deg);
          transform-origin: center;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .filters {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2.5rem;

    .filter {
      position: relative;
      padding: 2rem;
      border-radius: 5px;
      font-size: 1.8rem;
      color: #FFF;

      .filter-searchbar {
        border: none;
        outline: none;
        color: #FFF;

        &::placeholder {
          color: #FFF;
          font-size: 1.8rem
        }
      }

      .filter-list {
        display: none;

        .filter-elem.hide {
          display: none;
        }
      }


      &__ingredients {
        background-color: $blue;

        .filter-searchbar {
          background-color: $blue;
        }

        .filter-list{
          background-color: $blue;
        }

      }

      &__appliance {
        background-color: $green;

        .filter-searchbar {
          background-color: $green;
        }

        .filter-list{
          background-color: $green;
        }
      }

      &__ustensils {
        background-color: $red;

        .filter-searchbar {
          background-color: $red;
        }

        .filter-list{
          background-color: $red;
        }
      }

      &__open {
        width: 30%;
        position: relative;
        border-radius: 5px 5px 0 0;

        .filter-list {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          padding: 2rem;
          border-radius: 0 0 5px 5px;
          z-index: 2;

          li {
            list-style: none;
            font-size: 1.1rem;
            height: fit-content;


            &:hover {
              cursor: pointer;
            }

          }
        }
      }
    }
  }


  .recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    .recipe-card {
      width: 100%;
      background-color: #E7E7E7;
      border-radius: 5px;

      .header {
        aspect-ratio: 16 / 9;
        background-color: #C7BEBE;
        border-radius: 5px 5px 0 0;
      }

      .main {
        padding: 2rem;

        .title-time, .ingredients-steps {
          display: flex;
          justify-content: space-between;
        }

        .title-time {
          padding-bottom: 2rem;

          .title, .time {
            font-size: 1.8rem;
          }

          .time {
            position: relative;
            font-weight: bolder;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: -2.5rem;
              transform: translateY(-50%);
              width: 2rem;
              height: 2rem;
              background-image: url('../assets/svg/watch_later-24px 1.svg');
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center center;

            }
          }
        }

        .ingredients-steps {
          .ingredients, .steps {
            width: 50%;
            font-size: 1.2rem;
          }

          .ingredients {
            list-style: none;
            padding-left: 0;

            li {
              font-size: 1.2rem;

              span {
                font-size: 1.2rem;
                font-weight: bolder;
              }
            }
          }
        }
      }
    }
  }
}

.hide {
  display: none;
}