*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.delete {
  display: none;
  background-color: red;
}

.head .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.head .searchbar {
  position: relative;
}
.head .searchbar input[type=search] {
  width: 100%;
  background-color: #E7E7E7;
  border: none;
  border-radius: 5px;
  padding: 2.4rem;
  font-size: 1.8rem;
  outline: none;
}
.head .searchbar::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  width: 5rem;
  aspect-ratio: 1/1;
  background-image: url("../assets/svg/search-24px 1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main .tags {
  padding-left: 0;
  display: flex;
  gap: 1rem;
}
main .tags .tag {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  background-color: #3282F7;
  padding: 1rem;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}
main .tags .tag__name {
  margin: 0;
  color: #FFF;
  font-size: 1.5rem;
}
main .tags .tag__close-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 1px #FFF;
  border-radius: 50%;
}
main .tags .tag__close-icon::after, main .tags .tag__close-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.7rem;
  height: 1px;
  background-color: #fff;
}
main .tags .tag__close-icon::after {
  transform: translate(-50%, -50%) rotate(50deg);
  transform-origin: center;
}
main .tags .tag__close-icon::before {
  transform: translate(-50%, -50%) rotate(-50deg);
  transform-origin: center;
}
main .tags .tag__close-icon:hover {
  cursor: pointer;
}
main .filters {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2.5rem;
}
main .filters .filter {
  position: relative;
  padding: 2rem;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #FFF;
}
main .filters .filter .filter-searchbar {
  border: none;
  outline: none;
}
main .filters .filter .filter-searchbar::placeholder {
  color: #FFF;
  font-size: 1.8rem;
}
main .filters .filter .filter-list {
  display: none;
}
main .filters .filter__ingredients {
  background-color: #3282F7;
}
main .filters .filter__ingredients .filter-searchbar {
  background-color: #3282F7;
}
main .filters .filter__appliance {
  background-color: #68D9A4;
}
main .filters .filter__appliance .filter-searchbar {
  background-color: #68D9A4;
}
main .filters .filter__ustensils {
  background-color: #ED6454;
}
main .filters .filter__ustensils .filter-searchbar {
  background-color: #ED6454;
}
main .filters .filter__open {
  width: 30%;
  position: relative;
  border-radius: 5px 5px 0 0;
}
main .filters .filter__open .filter-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  background-color: #3282F7;
  border-radius: 0 0 5px 5px;
  z-index: 2;
}
main .filters .filter__open .filter-list li {
  list-style: none;
  font-size: 1.1rem;
  height: fit-content;
}
main .filters .filter__open .filter-list li:hover {
  cursor: pointer;
}
main .recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
main .recipes-grid .recipe-card {
  width: 100%;
  background-color: #E7E7E7;
  border-radius: 5px;
}
main .recipes-grid .recipe-card .header {
  aspect-ratio: 16/9;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0 0;
}
main .recipes-grid .recipe-card .main {
  padding: 2rem;
}
main .recipes-grid .recipe-card .main .title-time, main .recipes-grid .recipe-card .main .ingredients-steps {
  display: flex;
  justify-content: space-between;
}
main .recipes-grid .recipe-card .main .title-time {
  padding-bottom: 2rem;
}
main .recipes-grid .recipe-card .main .title-time .title, main .recipes-grid .recipe-card .main .title-time .time {
  font-size: 1.8rem;
}
main .recipes-grid .recipe-card .main .title-time .time {
  position: relative;
  font-weight: bolder;
}
main .recipes-grid .recipe-card .main .title-time .time::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background-image: url("../assets/svg/watch_later-24px 1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
main .recipes-grid .recipe-card .main .ingredients-steps .ingredients, main .recipes-grid .recipe-card .main .ingredients-steps .steps {
  width: 50%;
  font-size: 1.2rem;
}
main .recipes-grid .recipe-card .main .ingredients-steps .ingredients {
  list-style: none;
  padding-left: 0;
}
main .recipes-grid .recipe-card .main .ingredients-steps .ingredients li {
  font-size: 1.2rem;
}
main .recipes-grid .recipe-card .main .ingredients-steps .ingredients li span {
  font-size: 1.2rem;
  font-weight: bolder;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
